body{
    margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.topo{
  height: 200px;
    background: #CCCCCC;
}

.corpo{
    position: relative;
   
   padding-left:30px; 
       padding-right: 30px;
    padding: 30px; 
    
}

.rodape{
     margin: 0;
  
    height: 30px;
    width: 100%;   
}
.home{
  position: relative;   
    
}